<div class="questions-container">
  <div class="welcome-text">
    <h1>All Questions</h1>
    <p>Ask questions, get answers, no distractions</p>
  </div>

  <div class="sort-controls">
    <select [(ngModel)]="sortBy" (ngModelChange)="onSortChange()">
      <option *ngFor="let option of sortByOptions" [value]="option">
        Sort by {{ option }}
      </option>
    </select>
    <select [(ngModel)]="direction" (ngModelChange)="onSortChange()">
      <option *ngFor="let option of directionOptions" [value]="option">
        {{ option }}
      </option>
    </select>
  </div>

  <div class="questions-table">
    <div class="question-row" *ngFor="let question of questions?.Items">
      <div class="vote-section">
        <span class="vote-score" [ngClass]="{'negative-vote': question.VoteScore < 0}">{{ question.VoteScore }} votes</span>
        <div class="answers" [ngClass]="{'closed': question.IsClosed && question.AnswersCount > 0}">
          {{ getAnswersText(question.AnswersCount, question.IsClosed) }}
        </div>
      </div>
      <div class="content-section">
        <a [routerLink]="['/questions', question.Id]" class="question-title">{{ question.Title }}</a>
        <p class="question-description">{{ question.Description | slice:0:150 }}{{ question.Description.length > 150 ? '...' : '' }}</p>
        <div class="meta">
          <span>asked by {{ question.User.Name }} {{ question.User.Lastname }}</span>
          <span class="date">{{ question.CreationDate | date:'medium' }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="pagination" *ngIf="questions && totalPages > 1">
    <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
    <ng-container *ngFor="let page of getPageArray()">
      <button *ngIf="page !== '...'" [ngClass]="{'active': page === currentPage}" (click)="onPageChange(page)">
        {{ page }}
      </button>
      <span *ngIf="page === '...'">...</span>
    </ng-container>
    <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
  </div>
</div>