<nav class="navbar navbar-guest" *ngIf="!isLoggedIn()">
    <div class="container">
        <div class="row">
            <div class="col-md-2 header-logo-holder">
                <a href="#" class="header-logo">
                    <img src="assets/images/logo.png" class="img-fluid">
                </a>
            </div>
            <div class="col-md-8">

                        <app-search-input (searchChanged)="onSearch($event)"></app-search-input>
            </div>
            <div class="col-md-2 btn-holder">
                <app-button
                    type="button"
                    label="Log in"
                    class="btn-sm btn-accent"
                    routerLink="/login"
                    routerLinkActive="active"
                    (clickEvent)="onLogin()"
                ></app-button>

                <app-button
                    type="button"
                    label="Sign up"
                    class="btn-sm btn-accent"
                    routerLink="/register"
                    routerLinkActive="active"
                    (clickEvent)="onSignup()"
                ></app-button>
            </div>
        </div>
    </div>
</nav>

<nav class="navbar navbar-user" *ngIf="isLoggedIn()">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="header-logo-holder">
                    <a href="#" class="header-logo">
                        <img src="assets/images/logo.png" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="header-search-holder">
                    <app-search-input (searchChanged)="onSearch($event)"></app-search-input>
                </div>
            </div>
            <div class="col-md-2">
                <div class="header-btn-holder">
                    <app-button
                        type="button"
                        class="btn btn-accent btn-icon"
                        routerLink="/profile/general-information"
                        routerLinkActive="active"
                        backgroundImage="assets/images/user-profile.svg"
                    ></app-button>

                    <app-button
                        type="button"
                        class="btn btn-accent btn-md"
                        label="Ask Question"
                        routerLink="/ask-question"
                        routerLinkActive="active"
                    ></app-button>
                </div>
            </div>
        </div>
    </div>
</nav>