<nav class="navbar navbar-guest">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="header-logo-holder">
                    <a href="#" class="header-logo">
                        <img src="assets/images/logo.png" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="header-search-holder" *ngIf="isLoggedIn()">
                    <app-search-input (searchChanged)="onSearch($event)"></app-search-input>
                </div>
            </div>
            <div class="col-md-2" *ngIf="!isLoggedIn()">
                <div class="header-btn-holder">
                    <app-button
                        type="button"
                        label="Log in"
                        class="btn-sm btn-accent"
                        routerLink="/login"
                        routerLinkActive="active"
                    ></app-button>

                    <app-button
                        type="button"
                        label="Sign up"
                        class="btn-sm btn-accent"
                        routerLink="/register"
                        routerLinkActive="active"
                    ></app-button>
                </div>
            </div>
            <div class="col-md-2" *ngIf="isLoggedIn()">
                <div class="header-btn-holder">
                    <app-button
                        type="button"
                        class="btn btn-accent btn-icon"
                        routerLink="/profile"
                        routerLinkActive="active"
                        backgroundImage="assets/images/user-profile.svg"
                    ></app-button>

                    <app-button
                        type="button"
                        class="btn btn-accent btn-md"
                        label="Ask Question"
                        routerLink="/ask-question"
                        routerLinkActive="active"
                    ></app-button>
                </div>
            </div>
        </div>
    </div>
</nav>