<div class="register-container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="register-box">
      <h2>CREATE YOUR ACCOUNT</h2>

      <div class="top-section">
        <div class="left-col">

          <div class="photo-wrapper" *ngIf="photoPreview">
            <div class="photo-preview-wrapper">
              <img [src]="photoPreview" class="photo-preview" />
            </div>
            <button type="button" class="remove-photo-btn" (click)="removePhoto()">×</button>
          </div>

          
          <div class="photo-drop-zone"
               *ngIf="!photoPreview"
               [class.dragging]="isDragging"
               (dragover)="onDragOver($event)"
               (dragleave)="onDragLeave($event)"
               (drop)="onDrop($event)">
            <p>Click and drop photo</p>
            <input type="file" (change)="onFileSelected($event)" #fileInput />
          </div>

          <div class="error-message" *ngIf="!photoFile && registerForm.touched">
            This field is required
          </div>

        </div>

        
        <div class="name-fields">
          <div class="form-group">
            <label for="name">Name *</label>
            <input id="name" type="text" formControlName="name" placeholder="Name"
                   [ngClass]="{'invalid-input': name?.invalid && name?.touched}" />
            <div class="error-message" *ngIf="name?.invalid && name?.touched">This field is required</div>
          </div>

          <div class="form-group">
            <label for="lastname">Surname *</label>
            <input id="lastname" type="text" formControlName="lastname" placeholder="Lastname"
                   [ngClass]="{'invalid-input': lastname?.invalid && lastname?.touched}" />
            <div class="error-message" *ngIf="lastname?.invalid && lastname?.touched">This field is required</div>
          </div>

          <div class="form-group">
            <label for="gender">Gender *</label>
            <select id="gender" formControlName="gender"
                    [ngClass]="{'invalid-input': gender?.invalid && gender?.touched}">
              <option value="" disabled>Select gender</option>
              <option value="M">Male</option>
              <option value="F">Female</option>
            </select>
            <div class="error-message" *ngIf="gender?.invalid && gender?.touched">This field is required</div>
          </div>
        </div>
      </div>

      
      <div class="form-grid">
        <div class="form-group">
          <label for="email">Email *</label>
          <input id="email" type="email" formControlName="email" placeholder="example@mail.com"
                 [ngClass]="{'invalid-input': email?.invalid && email?.touched}" />
          <div class="error-message" *ngIf="email?.touched && email?.errors?.['required']">This field is required</div>
          <div class="error-message" *ngIf="email?.touched && email?.errors?.['email']">Enter a valid email</div>
        </div>

        <div class="form-group">
          <label for="state">State *</label>
          <input id="state" type="text" formControlName="state" placeholder="State"
                 [ngClass]="{'invalid-input': state?.invalid && state?.touched}" />
          <div class="error-message" *ngIf="state?.invalid && state?.touched">This field is required</div>
        </div>

        <div class="form-group">
          <label for="city">City *</label>
          <input id="city" type="text" formControlName="city" placeholder="City"
                 [ngClass]="{'invalid-input': city?.invalid && city?.touched}" />
          <div class="error-message" *ngIf="city?.invalid && city?.touched">This field is required</div>
        </div>

        <div class="form-group">
          <label for="address">Address *</label>
          <input id="address" type="text" formControlName="address" placeholder="Street, No"
                 [ngClass]="{'invalid-input': address?.invalid && address?.touched}" />
          <div class="error-message" *ngIf="address?.invalid && address?.touched">This field is required</div>
        </div>

        <div class="form-group">
          <label for="password">Password *</label>
          <input id="password" type="password" formControlName="password" placeholder="••••••••"
                 [ngClass]="{'invalid-input': password?.invalid && password?.touched}" />
          <div class="error-message" *ngIf="password?.touched && password?.errors?.['required']">This field is required</div>
          <div class="error-message" *ngIf="password?.touched && password?.errors?.['minlength']">Password must be at least 8 characters</div>
        </div>

        <div class="form-group">
          <label for="confirmPassword">Confirm Password *</label>
          <input id="confirmPassword" type="password" formControlName="confirmPassword" placeholder="••••••••"
          [ngClass]="{'invalid-input': (confirmPassword?.invalid && confirmPassword?.touched) 
          || (registerForm.errors?.['passwordMismatch'] && confirmPassword?.touched)}" />
          <div class="error-message" *ngIf="confirmPassword?.touched && confirmPassword?.errors?.['required']">This field is required</div>
          <div class="error-message" *ngIf="confirmPassword?.touched && registerForm.errors?.['passwordMismatch']">
            Passwords do not match
          </div>
        </div>
      </div>

      <button type="submit" class="btn-primary">Register</button>
    </div>
  </form>
</div>
