<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <app-button
                    type="button"
                    class="btn btn-logo"
                    backgroundImage="assets/images/logo-icon.png"
                    routerLink="/login"
                    routerLinkActive="active"
                ></app-button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <p>STACK OVERFLOW</p>
                <ul class="footer-menu">
                    <li class="footer-menu-item">
                        <a href="#">Questions</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="#">Help</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="#">Chat</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <p>PRODUCTS</p>
                <ul class="footer-menu">
                    <li class="footer-menu-item">
                        <a href="#">Teams</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="#">Advertising</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="#">Talent</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <p>COMPANY</p>
                <ul class="footer-menu">
                    <li class="footer-menu-item">
                        <a href="#">About</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="#">Press</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="#">Work Here</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="#">Legal</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="#">Teams of Service</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="#">Contact Us</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="#">Cookie Settings</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="#">Cookie Policy</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <p>STACK EXCHANGE NETWORK</p>
                <ul class="footer-menu">
                    <li class="footer-menu-item">
                        <a href="#">Technology</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="#">Culture & recreation</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="#">Life & arts</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="#">Science</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="#">Professional</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="#">Business</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="#">API</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="#">Data</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="footer-link-holder">
                    <a href="#">Blog</a>
                    <a href="http://www.facebook.com/officialstackoverflow/">Facebook</a>
                    <a href="http://www.x.com/stackoverflow">X</a>
                    <a href="http://www.linkedin.com/company/stack-overflow">LinkedIn</a>
                    <a href="http://www.instagram.com/thestackoverflow/#">Instagram</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="footer-text">Site design / logo © 2025 Stack Exchange Inc; user contributions licensed under CC BY-SA . rev 2025.9.15.33996</p>
            </div>
        </div>
    </div>
</div>